<form method="POST" action="/reset-password/<%= tokenId %>">

  <input type="password" name="newpassword" placeholder="New Password" required />
  <button type="submit">Change Password</button>
</form>
