<form method="POST" action="/signup">
  <h2>Sign Up</h2>
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Password" required />
  <button type="submit">Sign Up</button>
</form>
<a href="/login">Already have an account?</a>
