<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front page</title>
    <style>
        nav ul{
            display: flex;
            background-color: rgb(6, 69, 105);
            border-radius: 10px;
            justify-content: space-between;
    
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li> home</li>
            <li>about</li>
            <li>contact</li>
            <li>login</li>
            <li>signup</li>
        </ul>
    </nav>
    <h1>
        This is front page
    </h1>
</body>
</html>